
.restaurant-layout {
    display: flex;
  }
  
  .sidebar {
    width: 250px; 
    flex-shrink: 0;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  

  .restaurant-page {
    max-width: 1000px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  

  .restaurant-header {
    position: relative;
    width: 100%;
  }
  
  .restaurant-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .restaurant-logo {
    position: absolute;
    bottom: 17.5px;
    left: 15px;
    background: white;
    border-radius: 50%;
    padding: 5px;
  }
  
  .restaurant-logo img {
    width: 65px;
    height: 60px;
    border-radius: 50%;
  }
  

  .restaurant-info {
    padding: 20px;
  }
  
  .restaurant-info h1 {
    font-size: 26px;
    margin-bottom: 5px;
  }
  
  .restaurant-info p {
    font-size: 14px;
    color: #555;
  }
  

.store-info {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    width: 255px;
  }
  
  .store-info-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .store-info p {
    margin: 5px 0;
  }
  
  .dash-pass {
    color: #0085ff;
    font-weight: bold;
  }
  
  .status {
    color: #4caf50;
    font-weight: bold;
  }
  
  .open-status {
    color: #4caf50;
    font-weight: bold;
  }
  
  .see-more {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .see-more:hover {
    background-color: #f5f5f5;
  }

  
  .delivery-details {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .delivery-option,
  .pickup-option,
  .group-order {
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .delivery-option {
    background-color: black;
    color: white;
  }
  
  .pickup-option, .group-order {
    background-color: white;
    border: 1px solid black;
  }

  .deals {
    background-color: #ffefef;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: red;
  }
  